body {
    background-color: black;
}

.srow {
    display: flex;
    flex-direction: row;
}

.sgap {
    display: flex;

}

.rTireBackground {
    background-image: url(../assets/images/tiresbg.jpg);
    padding-bottom: 35%;
    background-position: right;
}

.locationAndContact {
    color: white;
    align-self: center;
}

.rColForLocal{
background-color: black;
padding-left: 5%;
padding-bottom: 20%;
padding-right:-15%;
}

.rContactHeader {

background-image: url(../assets/images/a-mechanic-s-garage-with-pool-house-above-christine-kelly-crafted-architecture-img_5c31d63c0a68f25e_14-0740-1-9acbd4e.jpg);
padding-bottom: 15%;
background-position: center;

}

.contactR {
    color: white;
    
}