body {
    background-image: url(../assets/blackbackground.jpeg);
}

.srow {
    display: flex;
    flex-direction: row;
}

.sgap {
    display: flex;
   
}

.rtopofpage {
    background-image: url(../assets/images/tiresbg.jpg)

}